flows/afl_ArticleFeedbackFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Data_From_Article</name>
        <label>Get Data From Article</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <actionName>afl_ArticleFeedbackFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Article_Feedback</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>kavId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Checks that the component is inside a Knowledge record page. If it&apos;s not, throws message &quot;Please make sure the component is placed in the appropriate Record Page.&quot;</description>
        <name>Check_component_is_inside_a_Knowledge_record_page</name>
        <label>Check component is inside a Knowledge record page</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Inappropriate_Record_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Isn&apos;t Knowledge Record</defaultConnectorLabel>
        <rules>
            <name>Is_Knowledge_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ka</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Article_Feedback_Screen</targetReference>
            </connector>
            <label>Is Knowledge Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if rating has been populated. If not, the user is redirected to an error screen asking for the field to be populated.</description>
        <name>Check_if_rating_is_blank</name>
        <label>Check if rating is blank</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Data_From_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rating is not blank</defaultConnectorLabel>
        <rules>
            <name>Rating_is_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedVote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Rating_is_blank</targetReference>
            </connector>
            <label>Rating is blank</label>
        </rules>
    </decisions>
    <description>Flow Screen component used for rating knowledge articles.</description>
    <environments>Default</environments>
    <interviewLabel>afl_ArticleFeedbackFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>afl_ArticleFeedbackFlow</label>
    <loops>
        <name>For_each_File_Id</name>
        <label>For each File Id</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <collectionReference>FileAttachedToFeedback.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_Feedback_To_File</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the Article Feedback record.</description>
        <name>Create_Article_Feedback</name>
        <label>Create Article Feedback</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>For_each_File_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Article_Created_Date__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article_Link__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article_Number__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article_Title__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article_Version__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Name__c</field>
            <value>
                <elementReference>Get_Data_From_Article.communityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Reason__c</field>
            <value>
                <elementReference>selectedReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Source__c</field>
            <value>
                <elementReference>Get_Data_From_Article.feedbackSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_Vote_Description__c</field>
            <value>
                <elementReference>Description_Input_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Knowledge_Article_Version_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Knowledge_kav_article_Id__c</field>
            <value>
                <elementReference>Get_Data_From_Article.kaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Published_Date__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleLastPublishedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Like__c</field>
            <value>
                <elementReference>selectedVote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Data_From_Article.afName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type__c</field>
            <value>
                <elementReference>Get_Data_From_Article.articleRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <object>afl_Article_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_Feedback_To_File</name>
        <label>Link Feedback To File</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>For_each_File_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>For_each_File_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_Article_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Article_Feedback_Screen</name>
        <label>Article Feedback Screen</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_rating_is_blank</targetReference>
        </connector>
        <fields>
            <name>afl_ArticleFeedbackFlowScreen</name>
            <extensionName>c:afl_ArticleFeedbackFlowScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>selectedVote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentFieldValue</name>
                <value>
                    <elementReference>selectedReason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showVotes</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedVote</assignToReference>
                <name>controllingFieldValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedReason</assignToReference>
                <name>dependentFieldValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Description_Input_Field</name>
            <fieldText>{!$Label.Description}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FileAttachedToFeedback</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png, .jpg, .jpeg, .zip, .doc, .docx, .pdf, .xlsx, .xls</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Rating_is_blank</name>
        <label>Error Rating is blank</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Blank_Feedback_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(186, 0, 0); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.Rate_the_article_toast}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Toast</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(186, 0, 0); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Feedback could not be created&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inappropriate_Record_Page</name>
        <label>Inappropriate Record Page</label>
        <locationX>930</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Inappropriate_record_page_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.No_information_title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Appropriate_record_page_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessToast</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(28, 163, 0); font-size: 16px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.Feedback_saved_toast}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_component_is_inside_a_Knowledge_record_page</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Id of the Knowledge record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedVote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
